<%- include('./layouts/header') %>

<!-- iziToast CSS -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css"
/>
<!-- iziToast JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"></script>

<section class="content-main">
  <div class="row">
    <div class="col-9">
      <div class="content-header">
        <h2 class="content-title">Add Coupon</h2>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card mb-4">
        <div class="card-header"></div>
        <div class="card-body">
          <form id="couponForm" method="post" action="/admin/addCoupon" onsubmit="return validateForm()">
            <div class="mb-4">
              <label for="coupon_name" class="form-label">Coupon Name</label>
              <input
                type="text"
                name="couponName"
                placeholder="Type here"
                class="form-control"
                id="coupon_name"
              />
              <p
                id="couponNameErr"
                class="error-message"
                style="color: red"
              ></p>
            </div>
            
            <div class="row">
              <div class="col-lg-6">
                <div class="mb-4">
                  <label class="form-label">Coupon code</label>
                  <input
                    name="couponCode"
                    placeholder="Type here"
                    type="text"
                    class="form-control"
                    id="coupon_code"
                  />
                  <p
                    id="couponCodeErr"
                    class="error-message"
                    style="color: red"
                  ></p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="mb-4">
                  <label class="form-label">Minimum amount</label>
                  <input
                    name="minAmount"
                    placeholder="Type here"
                    type="text"
                    class="form-control"
                    id="min_amount"
                  />
                  <p
                    id="minAmountErr"
                    class="error-message"
                    style="color: red"
                  ></p>
                </div>
              </div>
              <div class="col-lg-6">
                <label class="form-label">Discount percentage</label>
                <input
                  name="discount"
                  placeholder="Type here"
                  type="text"
                  class="form-control"
                  id="discount_percentage"
                />
                <p
                  id="discountErr"
                  class="error-message"
                  style="color: red"
                ></p>
              </div>
              <div class="col-lg-6">
                <label class="form-label">Maximum Discount Amount</label>
                <input
                  name="maxAmount"
                  placeholder="Type here"
                  type="text"
                  class="form-control"
                  id="max_discount_amount"
                />
                <p
                  id="maxDiscountErr"
                  class="error-message"
                  style="color: red"
                ></p>
              </div>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  function validateForm() {
    var couponName = document.getElementById("coupon_name").value;
    var couponCode = document.getElementById("coupon_code").value;
    var minAmount = document.getElementById("min_amount").value;
    var discount = document.getElementById("discount_percentage").value;
    var maxDiscountAmount = document.getElementById("max_discount_amount").value;
    
    var isValid = true;

    if (couponName.trim() == "") {
      document.getElementById("couponNameErr").innerHTML = "Coupon Name is required";
      isValid = false;
    } else {
      document.getElementById("couponNameErr").innerHTML = "";
    }

    if (couponCode.trim() == "") {
      document.getElementById("couponCodeErr").innerHTML = "Coupon Code is required";
      isValid = false;
    } else {
      document.getElementById("couponCodeErr").innerHTML = "";
    }

    if (minAmount.trim() == "") {
      document.getElementById("minAmountErr").innerHTML = "Minimum Amount is required";
      isValid = false;
    } else if (isNaN(minAmount) || minAmount <= 0) {
      document.getElementById("minAmountErr").innerHTML = "Minimum Amount must be a positive number";
      isValid = false;
    } else {
      document.getElementById("minAmountErr").innerHTML = "";
    }

    if (discount.trim() == "") {
      document.getElementById("discountErr").innerHTML = "Discount Percentage is required";
      isValid = false;
    } else if (isNaN(discount)) {
      document.getElementById("discountErr").innerHTML = "Discount Percentage must be a number";
      isValid = false;
    } else if (discount > 60) {
      document.getElementById("discountErr").innerHTML = "Discount must be less than or equal to 60";
      isValid = false;
    } else {
      document.getElementById("discountErr").innerHTML = "";
    }

    if (maxDiscountAmount.trim() == "") {
      document.getElementById("maxDiscountErr").innerHTML = "Maximum Discount Amount is required";
      isValid = false;
    } else if (isNaN(maxDiscountAmount)|| maxDiscountAmount <= 0) {
      document.getElementById("maxDiscountErr").innerHTML = "Maximum Discount Amount must be  positive number a number";
      isValid = false;
    } else {
      document.getElementById("maxDiscountErr").innerHTML = "";
    }

    return isValid;
  }

  document.getElementById('couponForm').addEventListener('submit', function(event) {
    event.preventDefault();

    if (!validateForm()) {
        return;
    }

    var formData = new FormData(this);
    var jsonObject = {};
    formData.forEach(function(value, key) {
        jsonObject[key] = value;
    });

    var xhr = new XMLHttpRequest();
    xhr.open('POST', this.action, true);
    xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');

    xhr.onload = function() {
        if (xhr.status === 400) {
            var errors = JSON.parse(xhr.responseText);
            if (errors.exist) {
                iziToast.error({
                    title: 'Error',
                    message: 'Coupon name already exists.'
                });
            }
            if (errors.existcode) {
                iziToast.error({
                    title: 'Error',
                    message: 'Coupon code already exists.'
                });
            }
        } else if (xhr.status === 500) {
            iziToast.error({
                title: 'Error',
                message: 'Internal server error. Please try again later.'
            });
        } else {
            window.location.href = '/admin/coupon';
        }
    };

    xhr.onerror = function() {
        iziToast.error({
            title: 'Error',
            message: 'An error occurred during the request. Please try again.'
        });
    };

    xhr.send(JSON.stringify(jsonObject));
  });
</script>

<%- include('./layouts/footer') %>
