<%- include("../layouts/user/header.ejs") %>
   <style>
    .login-form-wrapper {
    padding: 30px;
    border: 1px solid #d5d5d5;
    margin-top: -122px;
}
   </style>

   <!-- Start Breadumb Area -->
<div class="breadcumb-area ptb--100 ptb_md--100 ptb_sm--100  bg_image bg_image--3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner text-center">
                    <h2 class="font--40 mb--0">Login</h2>
                </div>
            </div>
        </div>
        <!-- Breadcrumb navigation -->
      
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Login</li>
                    </ol>
                </nav>
          
    <div class="main-wrapper flex-column justify-content-center align-items-center">
        <!-- My Account Page -->
        <div class="my-account-area ptb--120 ptb_md--80 ptb_sm--80 bg-color    " data-bg-color="#ffffff">
            <div class="container  ">
                <!-- <h2 class="font--20 mb--0">Login</h2> -->
               
                <div class="row">
                     <div class="col-lg-6 mx-auto">
                        <div class="login-form-wrapper">
                            <form  class="sn-form sn-form-boxed" >
                                <div class="sn-form-inner">
                                    <div class="single-input">
                                        <label for="login-form-email"> email</label>
                                        <input type="text" name="email" id="login-form-email" required>
                                        <div  id="email-error"  style="display: none; color: red; font-size: 12px ; font-weight: bold;"></div>
                                    </div>
                                    <div class="single-input">
                                        <label for="login-form-password">Password </label>
                                        <input type="password" name="password" id="login-form-password" required>
                                        <div id="password-error"  style="display: none; color: red; font-size: 12px ; font-weight: bold;"></div>
                                    </div>
                                    <br>
                                    <br>
                                    <div class="mb-2 d-flex single-input">
                                        <div class="mb-2 d-flex">
                                        
                                            <button type="button" class="btn btn-google auth-form-btn flex-grow ml-1" style="background-color: rgb(239, 239, 243); color: rgb(12, 12, 12);">
                                             
                                              <a href="/auth/google">Google</a>
                                            </button>
                                          </div>
                                          
                                      </div>
                                    <div class="single-input">
                                        <button type="submit" id="login-btn" class="mr-3">
                                            <span>Login</span>
                                        </button>
                                        <div class="checkbox-input">
                                            <input type="checkbox" name="login-form-remember" id="login-form-remember">
                                            <label for="login-form-remember">Remember me</label>
                                        </div>
                                        <div class="single-input">
                                            <a href="/sign-up">Create an account</a>
                                           
                                          </div>
                                    </div>
                                    <div class="single-input">
                                        <a href="/forgot-password"></a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div> 
                </div>
            </div>    
        </div>
    </div>

   
                    <!--// Product Details Right -->

                </div>
            </div>
        </div>
        <button class="close-quickview-modal"><i class="fa fa-close"></i></button>
    </div>
  
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>

        document.getElementById('login-btn').addEventListener('click' , async (e) => {
            e.preventDefault()

            const email = document.getElementById('login-form-email').value
        const password = document.getElementById('login-form-password').value
        const emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/

        const emailMessage = document.getElementById('email-error')
        const passwordMessage = document.getElementById('password-error')

        emailMessage.textContent=""
        passwordMessage.textContent=''
            
        if (email== ''&&password=='') {
            emailMessage.style.display= "block"
            emailMessage.textContent = ' email is required';
            passwordMessage.style.display= "block"
            passwordMessage.textContent = 'Password is required';
           
            return;
          
        } else if (!emailPattern.test(email)) {
            emailMessage.style.display= "block"
            emailMessage.textContent = 'Enter a valid email';
            return
          ;
        } else if (!email.endsWith('@gmail.com')) {
            emailMessage.style.display= "block"
            emailMessage.textContent = 'Email must end with "@gmail.com"';
            return
        }

       
            
         if (password.length < 8) {
            passwordMessage.style.display= "block"
            passwordMessage.textContent = 'Password must be at least 8 characters';
        
        } else if (!/[A-Z]/.test(password)) {
            passwordMessage.style.display= "block"
            passwordMessage.textContent = 'Password must contain at least one uppercase letter';
     
        } else if (!/[a-z]/.test(password)) {
            passwordMessage.style.display= "block"
            passwordMessage.textContent = 'Password must contain at least one lowercase letter';
          
        } else if (!/\d/.test(password)) {
            passwordMessage.style.display= "block"
            passwordMessage.textContent = 'Password must contain at least one number';
         
        }


      

        
    $.ajax({
    type: 'post',
    url: '/login',
    data: {
        email: email,
        password: password
    },
    success: (response) => {
        console.log(response);
        const Toast = Swal.mixin({
                            toast: true,
                            position: "top-end",
                            showConfirmButton: false,
                            timer: 3000,
                        });
                        if (response.success) {
            Toast.fire({
                icon: "success", 
                title: "Login Successful",
                text: "Your login  successful."
            });
            setTimeout(() => {
                window.location.href = "/home";
            }, 2000);
        } else if (response.error) {
            Toast.fire({
                icon: "error", 
                title: "Error",
                text: response.error
            });
            setTimeout(() => {
                window.location.href = "/login";
            }, 3000);
        } else {
            Toast.fire({
                icon: "warning", 
                title: "Password Incorrect",
                text: "Please enter the correct password."
            });
        }
    }

})
        })
    

    </script>

    <%- include("../layouts/user/footer.ejs") %>