
<%- include("../layouts/user/header.ejs") %>

<style>
    login-form-wrapper {
    padding: 30px;
    border: 1px solid #d5d5d5;
    margin-top: -122px;
}
</style>
<!-- Start Breadumb Area -->
   <div class="breadcumb-area ptb--100 ptb_md--100 ptb_sm--100  bg_image bg_image--3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner text-center">
                    <h2 class="font--40 mb--0">Sign Up</h2>
                </div>
            </div>
        </div>
        <!-- Breadcrumb navigation -->
      
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Signup</li>
                    </ol>
                </nav>
<div class="main-wrapper  justify-content-center align-items-center ">
    <!-- My Account Page -->
    <div class="my-account-area ptb--120 ptb_md--80 ptb_sm--80 bg-color"
        data-bg-color="#ffffff">
        <div class="container">
            <div class="row justify-content-center">
            <div class="row">
                
                <!-- Register Form -->
                <div class="col-lg-6 mx-auto align-items-center">
             
                    <div class="login-form-wrapper">

                        <% if (typeof error !== 'undefined' && error !== null) {
                        %>
                        <div class="error-message">
                            <%= error %>
                        </div>
                        <% } %>
                        <form  class="sn-form sn-form-boxed"
                            method="post">
                            <div class="sn-form-inner">
                                <div class="single-input">
                                    <label
                                        for="register-form-name">Username</label>
                                    <input type="text" name="name"
                                        id="register-form-name"  required>
                                        <div class="error-message" id="name-error"  style="display: none; color: red; font-size: 12px ; font-weight: bold;"></div>
                                </div>
                                <div class="single-input">
                                    <label for="register-form-email">Email
                                    </label>
                                    <input type="text" name="email"
                                        id="register-form-email" required>
                                        <div class="error-message" id="email-error"  style="display: none; color: red; font-size: 12px ; font-weight: bold;"></div>

                                </div>
                                <div class="single-input">
                                    <label for="register-form-mobile">mobile
                                        no:</label>
                                    <input type="password" name="mobile"
                                        id="register-form-mobile" required>
                                        <div class="error-message" id="mobile-error"  style="display: none; color: red; font-size: 12px ; font-weight: bold;"></div>

                                </div>
                                <div class="single-input">
                                    <label
                                        for="register-form-password">Password</label>
                                    <input type="password" name="password"
                                        id="register-form-password"  required>
                                        <div class="error-message" id="password-error"  style="display: none; color: red; font-size: 12px ; font-weight: bold;"></div>

                                </div>
                                <div class="single-input">
                                    <label for="register-form-password"> confirm
                                        Password</label>
                                    <input type="password"
                                        name="confirmPassword"
                                        id="register-form-confirm-password" required>
                                        <div class="error-message" id="confirm-password-error"  style="display: none; color: red; font-size: 12px ; font-weight: bold;"></div>

                                </div>
                               
                                <div class="mb-2 d-flex single-input">
                                    
                                  </div>
                                <div class="single-input">
                                    <button type="submit" id="signup-btn" >
                                        sign up
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!--// Register Form -->
            </div>
        </div>
    </div>
    <!--// My Account Page -->

</div>




<!--// Quick View Modal -->
<!-- Start Footer Area -->

<script>
    const nameInput = document.getElementById('register-form-name');
    const emailInput = document.getElementById('register-form-email');
    const mobileInput = document.getElementById('register-form-mobile');
    const passwordInput = document.getElementById('register-form-password');
    const confirmPasswordInput = document.getElementById('register-form-confirm-password');

    const nameMessage = document.getElementById('name-error');
    const emailMessage = document.getElementById('email-error');
    const mobileMessage = document.getElementById('mobile-error');
    const passwordMessage = document.getElementById('password-error');
    const confirmPasswordMessage = document.getElementById('confirm-password-error');

    const validateForm = () => {
        let isValid = true;

       
        nameMessage.textContent = '';
        emailMessage.textContent = '';
        mobileMessage.textContent = '';
        passwordMessage.textContent = '';
        confirmPasswordMessage.textContent = '';

       
        if (nameInput.value.trim() === '') {
            nameMessage.style.display= "block"
            nameMessage.textContent = 'Name is required';
            isValid = false;
        } else if (nameInput.value.length < 4) {
            nameMessage.style.display= "block"
            nameMessage.textContent = 'Enter at least 4 characters';
            isValid = false;
        } else if (nameInput.value.startsWith(' ')) {
            nameMessage.style.display= "block"
            nameMessage.textContent = 'Name cannot start with spaces';
            isValid = false;
        } else if (!/^[A-Za-z\s]+$/.test(nameInput.value)) {
            nameMessage.style.display= "block"
            nameMessage.textContent = 'Name cannot contain special characters';
            isValid = false;
        }

      
        if (emailInput.value.trim() === '') {
            emailMessage.style.display= "block"
            emailMessage.textContent = 'Email is required';
            isValid = false;
        } else if (!/^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/.test(emailInput.value)) {
            emailMessage.style.display= "block"
            emailMessage.textContent = 'Enter a valid email';
            isValid = false;
        } else if (!emailInput.value.endsWith('@gmail.com')) {
            emailMessage.style.display= "block"
            emailMessage.textContent = 'Email must end with "@gmail.com"';
            isValid = false;
        }

       
        if (mobileInput.value.trim() === '') {
            mobileMessage.style.display= "block"
            mobileMessage.textContent = 'Mobile number is required';
            isValid = false;
        } else if (!/^\d{10}$/.test(mobileInput.value)) {
            mobileMessage.style.display= "block"
            mobileMessage.textContent = 'Mobile number must be 10 digits';
            isValid = false;
        }

      
        if (passwordInput.value.trim() === '') {
            passwordMessage.style.display= "block"
            passwordMessage.textContent = 'Password is required';
            isValid = false;
        } else if (passwordInput.value.length < 8) {
            passwordMessage.style.display= "block"
            passwordMessage.textContent = 'Password must be at least 8 characters';
            isValid = false;
        } else if (!/[A-Z]/.test(passwordInput.value)) {
            passwordMessage.style.display= "block"
            passwordMessage.textContent = 'Password must contain at least one uppercase letter';
            isValid = false;
        } else if (!/[a-z]/.test(passwordInput.value)) {
            passwordMessage.style.display= "block"
            passwordMessage.textContent = 'Password must contain at least one lowercase letter';
            isValid = false;
        } else if (!/\d/.test(passwordInput.value)) {
            passwordMessage.style.display= "block"
            passwordMessage.textContent = 'Password must contain at least one number';
            isValid = false;
        }

        
        if (confirmPasswordInput.value.trim() === '') {
            confirmPasswordMessage.style.display= "block"
            confirmPasswordMessage.textContent = 'Confirm password is required';
            isValid = false;
        } else if (confirmPasswordInput.value !== passwordInput.value) {
            confirmPasswordMessage.style.display="block"
            confirmPasswordMessage.textContent = 'Passwords do not match';
            isValid = false;
        }

        return isValid;
    };

    document.getElementById('signup-btn').addEventListener('click', async (e) => {
        e.preventDefault();

        if (validateForm()) {
            const response = await fetch('/sign-up', {
                method: 'post',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    name: nameInput.value,
                    email: emailInput.value,
                    mobile: mobileInput.value,
                    password: passwordInput.value,
                    confirmPassword: confirmPasswordInput.value
                })
            });

            const responseData = await response.json();

            if (responseData.emailExist) {
                emailMessage.style.display= 'block'
                emailMessage.textContent = 'Email already exists';
            } else if (responseData.success) {
                window.location.href = '/otp';
            }
        }
    });
</script>



<%- include("../layouts/user/footer.ejs") %>
