<style>
   
    .sidebar-profile {
        background-color: #dce7f3;
        height: 100vh;
        padding-top: 20px;
    }
    
    .user-info {
        margin-bottom: 20px;
    }
    .user-info h2 {
        margin-bottom: 0px;
    }
    a{
        color: black;
    }
   
</style>




    <div>
        
<nav id="sidebar" class="sidebar-profile">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <span><strong>Hello, User</strong></span>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="/profile">
                
                <span><strong>Profile</strong></span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="/users/manage_address">
             
                <span><strong>Manage Address</strong></span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="/users/orders">
                <span><strong>Orders</strong></span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="/users/wallet">
                <span><strong>Wallet</strong></span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="/users/change_password">
                <span><strong>Change Password</strong></span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="/logout">
              
                <span><strong>Logout</strong></span>
            </a>
        </li>
    </ul>
</nav>
</div