

 <!-- Start Footer Area -->
 
<!-- End Footer Area -->
    <!-- JS
============================================ -->

    <!-- Modernizer JS -->
    <script src="user/js/vendor/modernizr.min.js"></script>
    <!-- jQuery JS -->
    <script src="user/js/vendor/jquery.js"></script>
    <!-- Bootstrap JS -->
    <script src="user/js/vendor/bootstrap.min.js"></script>
    <script src="user/js/plugins/plugins.js"></script>
    <!-- Vendor & Plugins JS (Please remove the comment from below vendor.min.js & plugins.min.js for better website load performance and remove js files from avobe) -->
    <!--
<script src="user/js/vendor/vendor.min.js"></script>
<script src="user/js/plugins/plugins.min.js"></script>
-->

    <!-- Main JS -->
    <script src="user/js/main.js"></script>

</body>


<!-- Mirrored from demo.hasthemes.com/lanes-preview-v2/lanes/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 16 Feb 2024 03:53:55 GMT -->
</html>