<!-- Start Footer Area -->
<!-- End Footer Area -->

<!-- Modernizer JS -->
<script src="user/js/vendor/modernizr.min.js"></script>

<!-- jQuery JS -->
<script src="user/js/vendor/jquery.js"></script>

<!-- Bootstrap JS -->
<script src="user/js/vendor/bootstrap.min.js"></script>

<!-- Plugins JS -->
<script src="user/js/plugins/plugins.js"></script>

<!-- Main JS -->
<script src="user/js/main.js"></script>

</body>
</html>
